body {
    font-family: Calibri;
    text-align: center;
    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#Title {
    text-align: center;
    display: inline-block; 
    padding: 6px 12px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: Calibri;
    background: linear-gradient(to right, #D40146, #0791DC);
    border-width: 10px; 
}
#PDP {
    border-radius: 144px;
    height: 100px;
    text-align: center;
    transition: transform 0.2s;
    display: inline-block;
    size: 110%;
    }
#PDP:hover {
    cursor: pointer;
    transform:scale(1.1);
}
#PDP:active {
    cursor: pointer;
    transform:scale(0.98);
}
.networks:active {
    cursor: pointer;
    transform:scale(0.9);
}
#righttop {
    display: block;
    text-align: right;
}
.networks {
    position:relative;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 200px 20px 200px;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 100px;
    height: 20px;
    margin: 6px 2px;
    border-radius: 12px;
    cursor: pointer;
    font-family: Calibri;
    font-size: 150%;
    transition: transform 0.2s;
    align-items: center;
}
.networks:hover {
    cursor: pointer;
    transform:scale(1.1);
}
.networks:active {
    cursor: pointer;
    transform:scale(0.9);
}
#YouTube {
    background: linear-gradient(to right, #FF0000, #C4302B);
}
#Tiktok {
    background: linear-gradient(to left, black,#00DAF1, #FF4152);
}
#Instagram {
    background: linear-gradient(to right, #FEDA77, #D62976, #4F5BD5);
}
#Twitch {
    background: linear-gradient(to right, #6441A5, #2A0845);
}
#Discord {
    background: linear-gradient(to right, #5865F2, #FFFFFF);
    padding: 37px 65px 37px 65px;
    right: 137px;
}
#DiscordDM {
    background: linear-gradient(to right, #5865F2, #FFFFFF);
    padding: 37px 65px 37px 65px;
    left: 137px;
    top: -128px;
}
#TextButtons {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
